matplotlib==3.7.1
mediapipe==0.9.1.0
numpy<1.24
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==2.0.2
scipy==1.9.1
tqdm==4.65.0
torch
torchvision
imageio
imageio-ffmpeg
pyyaml # yaml
tqdm
argparse
cython
scikit-image # skimage
onnxruntime
gradio