absl-py==1.4.0
attrs==22.2.0
Babel==2.11.0
certifi==2022.12.7
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
data==0.4
decorator==5.1.1
exceptiongroup==1.1.1
flatbuffers==23.1.21
fonttools==4.38.0
funcsigs==1.0.2
future==0.18.3
google-measurement-protocol==1.1.0
idna==3.4
imutils==0.5.4
iniconfig==2.0.0
kiwisolver==1.4.4
latex==0.7.0
matplotlib==3.6.3
mediapipe==0.9.1.0
numpy==1.24.2
opencv-contrib-python==4.7.0.68
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pluggy==1.0.0
prices==1.1.1
protobuf==3.20.3
pycocoevalcap==1.2
pycocotools==2.0.6
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyshine==0.0.9
pytest==7.2.2
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
scikit-video==1.1.11
scipy==1.10.1
shutilwhich==1.1.0
six==1.16.0
SoccerNet==0.1.48
tempdir==0.7.1
tomli==2.0.1
tqdm==4.65.0
urllib3==1.26.14